Options -MultiViews
RewriteEngine On
RewriteBase /pocketmoneytracker/front-end/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.html?$1 [QSA,L]