$colorLightPink: #f2dede;
$colorDeepRed: #C0392B;
$colorMainGreen: #28B463;
$colorLightGreen: #dff0d8;
$colorMainRed: #EC7063;
$colorMainWhite: whitesmoke;
$basePageBackground: white;
$colorMainFont: #333;
